{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">{{ .Title }}</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link me-4" href="#" onclick="logout()">Logout</a>
        </li>
    </ul>
</nav>

<h4>Output <span id="status" class="badge bg-danger">Disconnected</span> </h4>


<i class="text-danger fas fa-ban position-absolute" style="right: 15px" role="button" onclick="clearOutput()"></i>
<div class="h-75 w-100 bg-dark overflow-scroll" id="output">
</div>


<div class="bottom-0">
    <div class="form-group">
        <label for="query">Query</label>
        <textarea class="form-control" autofocus id="query" rows="3" style="resize: none;"></textarea>
    </div>
</div>
{{ end }}
{{ define "script" }}
<script>
    const output = $("#output");
    const query = $("#query");
    const status = $("#status");

    query.keypress(function (e) {
        const code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13){
            const val = query.val();
            setText("");
            runQuery(val);
            return false;
        }
    });

    function setText(statement) {
        query.val(statement).focus();
    }

    function clearOutput() {
        $("pre").remove();
        setText("");
    }

    function runQuery(statement) {
        output.append(`<pre class="text-info overflow-visible">\> ${statement} <i class="text-success fas fa-play" role="button" onclick="runQuery('${statement}')"></i> <i class="text-secondary fas fa-edit" role="button" onclick="setText('${statement}')"></i></pre> `);
        $.getJSON("/query", { "statement": statement }).done(function (data) {
            if (data.err) {
                output.append(`<pre class="text-danger overflow-visible">${data.err}</pre>`);
                output.scrollTop(output[0].scrollHeight);
                return;
            }
            let message = data.message;
            message = message.replaceAll("\n", "<br/>");
            message = message.replaceAll("\u0026", " ");
            output.append(`<pre class="text-light overflow-visible">${message}</pre>`);
            output.scrollTop(output[0].scrollHeight);
        }).fail(function () {
            output.append(`<pre class="text-danger overflow-visible">Request failed</pre>`);
            output.scrollTop(output[0].scrollHeight);
        });
    }

    function updateConnectionStatus() {
        $.getJSON("/status").done(function (data) {
            if (data.err) {
                status.removeClass("bg-success");
                status.addClass("bg-danger");
                status.html("Disconnected");
            } else {
                status.removeClass("bg-danger");
                status.addClass("bg-success");
                status.html("Connected");
            }
        }).fail(function () {
            status.removeClass("bg-success");
            status.addClass("bg-danger");
            status.html("Disconnected")
        });
    }

    updateConnectionStatus();
    setInterval(updateConnectionStatus, 5000);

    function logout() {
        setCookie("MYSQL_CONSOLE_TOKEN", "", 0)
        window.location.href = "/login";
    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
</script>
{{ end }}